<form action="" method="post" class="form_container">

    <div class="form_control">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="Type your name" />
    </div>
    <div class="form_control">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" placeholder="Type your email" />
    </div>
    <div class="form_control">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="Type your password" />
    </div>
    <div class="form_control">
        <label for="confirmpassword">Confirm password: </label>
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm your password" />
    </div>
    <input type="submit" value="Register" />
</form>