<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insulin Pump</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/diabete.png" type="image/x-icon" />
    {{! BOOTSTRAP ICONS }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400;700&family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navbar">
      <a href="/insulin_pump" id="logo">
        <img src="/images/diabete.png" alt="Insulin Pump" />
      </a>
      <ul>
        {{!  URL's after authentication  }}
        {{#if session.userid}}
          <li>
            <a href="/insulin_pump">Insulin Pump</a>
          </li>
          <li>
            <a href="/notes">Notes</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        {{else}}
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
        {{/if}}
      </ul>
    </nav>

    <div class="container">

      {{{body}}}

    </div>

    <footer class="footer">
      <p><span>Insulin Pump</span> &copy; 2023</p>
    </footer>
  </body>
</html>