<section class="section_container">
  <h1 class="title">Insulin Pump</h1>

  <section class="last_application">
    <h2 class="subtitle">Last Application</h2>

    <p>The last application was 30 minutes ago</p>
  </section>

  <section>
    <h2 class="subtitle">Summary</h2>
    <p>Graphic representation</p>
  </section>

  <Section class="btn_container">
    <a class="btn_notes">New notes</a>
  </Section>

</section>