<section>

  <section>
    <form action="" method="post">
      <div class="form_control">
        <label for="note">Notes</label>
        <input type="text" name="note" id="note" />
      </div>
      <input type="submit" value="Send" />
    </form>
  </section>

  <section>

  </section>

</section>