<section class="section_container">

  <section>
    <form action="" method="post" class="notes_form form_container">
      <div class="form_control">
        <label for="note">Notes</label>
        <textarea
          type="text"
          name="note"
          id="note"
          placeholder="Make your notes"
        >
        </textarea>
      </div>
      <input type="submit" class="btn" value="Send" />
    </form>
  </section>

  <section>

  </section>

</section>